RewriteEngine on
RewriteBase /

# Si on ne demande pas un fichier ou dossier qui existe déja, on considère qu'il s'agit de
# index.php?uc=<nom_demandé>&opt=<option>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9\-]+)$ index.php?uc=$1 [L]

# Désactive le listage des répertoires
Options -Indexes

# Gimme UTF-8 plz
AddDefaultCharset UTF-8
