RewriteEngine on
RewriteBase /beta/piscine/master/

# Si on ne demande pas un fichier ou dossier qui existe déja, on considère qu'il s'agit de
# index.php?uc=<nom_demandé>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([A-Za-z0-9]+)/?$ ?uc=$1 [L]

# Désactive le listage des répertoires
Options -Indexes

# Gimme UTF-8 plz
AddDefaultCharset UTF-8
