body {
  color: black;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}
#header_bandeau {
  width: 100%;
  height: 125px;
  line-height: 125px;
  background: url('img/origami.jpg') no-repeat;
  background-size: cover;
}
#header_menu {
  width: 100%;
  height: 35px;
  background-color: #00A0B0;
  line-height: 35px;
}
#header_menu a {
  display: inline-block;
  padding: 0 5px;
  border: 0;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
#header_menu a:hover {
  background-color: lightblue;
  color: black;
}
#header_menu a:first-child {
  margin-left: 35px;
}
#logo {
  display: inline-block;
  height: 100px;
  vertical-align: middle;
  margin-left: 35px;
}

section {
  padding: 0 55px;

}

footer {
  font-size: 85%;
  margin: 5px auto;
  text-align: center;
}

form.loginForm {
  margin: 18px auto;
  padding: 15px;
  width: 80%;
  border: 1px solid black;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  line-height: 115%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.labelConnexion {
  width: 200px;
  text-align: right;
  display: inline-block;
  margin-right: 5px;
}
.messageUtilisateur {
  margin: 5px auto;
  text-align: center;
  width: 100%;
  padding: 3px 0;
  font-weight: bold;
}
.message_alerte {
  background-color: #CC333F;
  color: white;
  border-radius: 2px;
}
.message_avertissement {
  background-color: #EDC951;
}
