body {
  color: black;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}
p {
  margin: 0 0 0.5em 0;
}
nav {
  height: 60px;
}
#logo {
  height: 45px;
  margin: 10px 20px 0 0;
}
.card .card-title {
  font-size: 22px;
}

section {
  padding: 0 55px;

}

form.loginForm {
  margin: 18px auto;
  padding: 15px;
  width: 80%;
  border: 1px solid black;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  line-height: 115%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}
.labelConnexion {
  width: 200px;
  text-align: right;
  margin-right: 5px;
  display: inline-block;
}
.elementFormLogin {
  display: inline-block;
  margin-bottom: 3px;
}
.messageUtilisateur {
  margin: 5px auto;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 5px;
}
.message_alerte {
  background-color: #CC333F;
  color: white;
}
.message_avertissement {
  background-color: #EDC951;
}
.message_positif {
  background-color: rgb(0, 221, 52);
}
.autocomplete {
  z-index: 5;
}
